@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.heightadjust{
    height: 5vh;
}
.footer{
    /* height: 4vh; */
    text-align: center;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    color: azure;
    margin: 1vh 35vw;
    white-space: nowrap;
    width: 30vw;
    animation: anis 3s  1s infinite ;
}
@keyframes anis {
    from{
        height: 0vh;
    }
    to{
        height: 4vh ;
    }
    
}
@media only screen and (max-width:500px) {
    .footer{
        margin: 0;
        width: 100%;
        margin-bottom: 2vh;
    }
}