@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
.intropage{
    min-height: 100vh;
    width: 100vw;
    background-image: url("../Images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.introline{
    font-family: 'Montserrat', sans-serif;
    padding: 25vh 0vw 0vh 12vw;
    width: 45vw;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 600;
}
.contact{
    margin-left: 12vw;
    margin-bottom: 2vh;
    background-color: white;
    display: inline-block;
}
.contact img{
    height: 5vh;
    width: 3vw;
}
@media only screen and (max-width: 500px) {
    .introline{
        width: 100vw;
        font-size: 1.5rem;
        color: black;
    }
    .contact img{
        height: 8vh;
        width: 12vw;
    }
  }